.popUpContainer {
	top:0;
	left : 0;
	width: 100%;
	height: 100vh;
	position: fixed;
	text-align: center;
	animation : pulse .3s;

	z-index: 10000000;
	background: rgba(0, 0, 0, 0.301);
}
.popUpContainer section {

	display: block;
	position: absolute;
	top : 50%;
	right : 50%;
	transform: translate(50%,-50%);
	width: 330px;
	height: 220px;
	background: #fff;
	border: 1px solid #e9e9e9;
	box-sizing: border-box;
	box-shadow: -2px 2px 12px rgba(0, 0, 0, 0.15);
    border-radius: 14px;
	font-size: 20px;
	font-family: Dosis;


}
.popUpContainer section h3{
	color :#513e69;
	font-size :13px
}
.popUpContainer .fa-times{
    float: right;
    padding : 10px;
    font-size: .7em;
    color: #5a2d91;
    cursor: pointer;
}

.popUpContainer .content{
  position  : absolute;
  top : 50%;
  left : 50%;
  transform: translate(-50%,-50%);
  color : #333;
}
.popUpContainer .content::first-letter{
    text-transform: capitalize;
}


